.container {
    display: grid;
    grid-template-columns: 700px 650px;
    grid-template-rows: 600px;
    grid-gap: 10px;

}

.Multilevel_Tree_Map {
    grid-area: 1 / 1 / 2 / 1;
        background-color: antiquewhite;
}

.Stock_Chart_With_Volume{
    grid-area: 1 / 2 / 1 / 2;
    background-color: ghostwhite;
}


